body { font-size: calc(0.6em + 0.6vw); font-family: sans-serif; max-width: 60em; margin: 0 auto; color: black; background-color:white; }
code { font-weight: bolder; color: coral; }
code code { font-weight: bolder; color: black; }
code em { font-weight: bolder; color: dimgrey; }
pre { border-radius: 10px; border-style: groove; border-color: gainsboro; }
a.link-symbol { text-decoration: none; }
nav { text-align: center; font-size: inherit; }
nav ul { list-style-type: none; }
nav ul li { display: inline-block; }
nav ul li + li::before { content: ' - '; }
