body { font-size: calc(0.6em + 0.6vw); font-family: sans-serif; max-width: 60em; margin: 0 auto; color: black; background-color:white; }
code { font-weight: bolder; color: rgb(207, 55, 0); white-space: nowrap; }
code code { font-weight: bolder; color: black; }
code em { font-weight: bolder; color: dimgrey; }
pre { border-radius: 10px; border-style: groove; border-color: gainsboro; overflow: scroll; }
a.link-symbol { text-decoration: none; }
nav { text-align: center; font-size: inherit; }
nav ul { font-weight: bolder; list-style-type: none; padding-left: 0%; }
nav ul li { display: inline-block; }
nav ul li + li::before { content: ' - '; }
nav span { font-size: smaller; }
figure img { width: 100%; height: auto; object-fit: fill; }
figure { background-color: lightgray; }
figcaption { padding: 10px; }
h1 img { height: 1em; max-height: 100%; max-width: 100%; float: right; margin: 0px 15px 15px 0px; }
ol { padding-left: 1.5em; }